<!DOCTYPE html>
<html lang="en">
<head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link href="static/css/styles.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Guilherme Juventino</title>
</head>
<body>
    <!--Creating a nav bar using Bootstrap-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-xxl justify-content-center">
            <a class="navbar-brand">Guilherme Juventino</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#aboutMe">About Me</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#languages">Languages</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#myProjects">My Projects</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#contacts">Where to Find Me</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>

    <section id="aboutMe">
        <h1 class="text-center">Welcome to my portfolio</h1>

        <h2 class="text-center">About me:</h2>

        <div class="text-container">
            <p class="text-center">
            I'm a Brazilian programmer who started his journey with Python,
            after learning the basics of Python, I started exploring libraries
            like Pygame and Flask and different programming languages
            like Rust, Lua, and JavaScript.
            </p>

            <p class="text-center">
            So feel free to take a good look at this website, and explore all it has to offer.
            </p>
        </div>
    </section>

    <section id="languages">
        <h1 class="text-center">Languages/Technologies That I've Worked With</h1>

        <div class="text-container">
            <p class="text-center">
                TODO.....
            </p>
        </div>
    </section>

    <section id="myProjects">
        <h1 class="text-center">My Personal Projects</h1>

        <h2 class="text-center">Here are some programming projects I've worked on:</h2>

        <!--Creating a set of cards holding image and links of my projects using Bootstrap-->
        <div class="card-group gap-5">
            <div class="card text-bg-dark">
                <img src="static/images/genericSpaceShooter.png" class="card-img-top" alt="Generic Space Shooter Gameplay Image">
                <div class="card-body">
                    <h5 class="card-title">Generic Space Shooter</h5>
                    <p class="card-text">
                    A Space Shooter game in Pygame where you must dodge and shoot asteroids and
                    the creatures that dwell inside them.
                    </p>
                    <a href="https://github.com/GuilhermeJuventino/Generic-Space-Shooter-V3"
                    class="btn btn-primary" target="_blank"><i class="bi bi-github"></i> Github Repository</a>
                </div>
            </div>
            <div class="card text-bg-dark">
                <img src="static/images/pygameBreakout.png" class="card-img-top" alt="Pygame Breakout Gameplay Image">
                <div class="card-body">
                    <h5 class="card-title">Pygame Breakout</h5>
                    <p class="card-text">
                    A clone of the classic arcade game Breakout written in Pygame. Destroy colored blocks by bouncing
                    a ball with your paddle into them.
                    </p>
                    <a href="https://github.com/GuilhermeJuventino/Breakout-Pygame"
                    class="btn btn-primary" target="_blank"><i class="bi bi-github"></i> Github Repository</a>
                </div>
            </div>
            <div class="card text-bg-dark">
                <img src="static/images/bevyAsteroids.png" class="card-img-top" alt="Bevy Asteroids Gameplay Image">
                <div class="card-body">
                    <h5 class="card-title">Bevy Asteroids</h5>
                    <p class="card-text">
                    A clone of the classic arcade game Asteroids made using the Bevy Game Engine.
                    Do your best to blow up all the asteroids while controlling your ship with the game's fun physics.
                    </p>
                    <a href="https://github.com/GuilhermeJuventino/bevy_asteroids"
                    class="btn btn-primary" target="_blank"><i class="bi bi-github"></i> Github Repository</a>
                </div>
            </div>
        </div>
    </section>

    <section id="contacts">
        <h1 class="text-center">Where to Find Me</h1>

        <div class="text-container">
            <div class="button-container">
                <a class="btn btn-outline-success" href="https://www.linkedin.com/in/guilherme-juventino-99473b286/" target="_blank">
                    <i class="bi bi-linkedin"></i> LinkedIn
                </a>

                <a class="btn btn-outline-success" href="https://github.com/GuilhermeJuventino" target="_blank">
                    <i class="bi bi-github"></i> Github
                </a>

                <a class="btn btn-outline-success" href="mailto:guilhermejuventino@gmail.com">
                    <i class="bi bi-envelope-at-fill"></i> Copy email
                </a>
            </div>
        </div>
    </section>
</body>
</html>