{% extends "layout.html" %}

{% block title %} Languages that I've used {% endblock %}

{% block body %}

    <div class="text-container">
        <p class="text-center">
            TODO.....
        </p>
    </div>

    <script>
        // Typewriting animation code from: https://www.w3schools.com/howto/howto_js_typewriter.asp
        var i = 0;
        var text = "Languages/Frameworks that I've used in my projects";
        var speed = 50;

        // Animating h1 tag's text
        function animateText() {
            if (i < text.length) {
                document.getElementById("title").innerHTML += text.charAt(i);
                i++;
                setTimeout(animateText, speed);
            }
        }

        animateText();
    </script>
    
{% endblock %}